

<div class="container">
  <div class="container dashboard-link">
    <button style="width: 7em; float: right;" class="btn btn-primary form-control" [routerLink]="['/doctor']">
        <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i> Dashboard</button>
</div>
    <form name="logform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
        <div class="form-control"> 
        <div class="container mt-3" style="width: 30em;"> 
          <div class="form-group">
            <input type="text" name="LogId" #LogId="ngModel" [(ngModel)]="prescription.testform.LogId"
            class="form-control" placeholder="LogId" minlength="3" maxlength="25" required readonly hidden/>

          </div>
       
          <div class="form-group">
            <input type="text" name="TestOne" #TestOne="ngModel" [(ngModel)]="prescription.testform.TestOne"
            class="form-control" placeholder="Enter Test to be done" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid': TestOne.touched && TestOne.invalid}"/>
          </div>

          <div class="form-group">
            <input type="text" name="TestTwo" #TestTwo="ngModel" [(ngModel)]="prescription.testform.TestTwo"
            class="form-control" placeholder="Enter Lab Test to be done " minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid': TestTwo.touched && TestTwo.invalid}"/>
          </div>
          <div class="form-group">
            <input type="text" name="TestThree" #TestThree="ngModel" [(ngModel)]="prescription.testform.TestThree"
            class="form-control" placeholder="Enter Lab Test to be done" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid': TestThree.touched && TestThree.invalid}" />
          </div>
          
          <!--Is Active-->
          <div class="form-group">
              <div class="form-check"><br>
                  <label class="form-check-label">Is active </label>
                  <input type="checkbox" name="IsActive" id="IsActive" name="IsActive" #IsActive="ngModel" [(ngModel)]="prescription.testform.IsActive"
                     class="form-check-input" checked>
              </div>
          </div>
      
          <!--submit button-->
          <br>
          <div class="form-group">
              <button type="submit"
                  class="btn btn-lg btn-primary form-control">Add Tests</button>
          </div>
      
      
      </div>
      </div>
      </form>

</div>
