<div class="container">
    <div class="header">
        <h3>Staff List and Information</h3>
        <!--Search funciotnality-->
        <div class="form-group">
            <input class="form-control" type="text" 
            placeholder="Search" >
        </div>
    </div>
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>Role Id</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of data">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.roid}}</td>
                <td>{{data.age}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.dob}}</td>
                <td>{{data.con}}</td>
                <td>{{data.loc}}</td>
                <td>{{data.act}}</td>
                <td style="width: 6em;">
                    <button class="btn btn-outline-danger" style="width: 100%;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--Pagination should be added here-->
    </div>
</div>

