<div class="container">
    <div class="header">
        <h3>Staff List and Information</h3>
        <!--Search funciotnality-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search" [(ngModel)]="filter">
        </div>
    </div>
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let data of this.adminService.staff | filter: filter | paginate: {itemsPerPage:10, currentPage: page}">
                <ng-template [ngIf]="data.IsActive==true">
                <td>{{data.StaffId}}</td>
                <td>{{data.StaffName}}</td>
                <td>{{data.StaffAge}}</td>
                <td>{{data.StaffGender}}</td>
                <td>{{data.StaffDateofBirth | date:'dd-MM-yyyy'}}</td>
                <td>{{data.StaffContactNo}}</td>
                <td>{{data.StaffLocation}}</td>
                <td style=" width: 6em;">
                    <button (click)="updateStaff(data.StaffId)" class="btn btn-outline-danger"
                        style="width: 100%;">Edit</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--Pagination should be added here-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>