<div class="container">
    <div class="header">
        <h3>Staff List and Information</h3>
        <!--Search funciotnality-->
        <div class="form-group">
            <input class="form-control" type="text" 
            placeholder="Search" >
        </div>
    </div>
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>Role Id</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of this.adminService.staff">
                <td>{{data.staffId}}</td>
                <td>{{data.staffName}}</td>
                <td>{{data.roleId}}</td>
                <td>{{data.staffAge}}</td>
                <td>{{data.staffGender}}</td>
                <td>{{data.staffDateofBirth}}</td>
                <td>{{data.staffContactNo}}</td>
                <td>{{data.staffLocation}}</td>
                <td>{{data.isActive}}</td>
                <td style="width: 6em;">
                    <button class="btn btn-outline-danger" style="width: 100%;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--Pagination should be added here-->
    </div>
</div>

