<form name="appform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
  <div class="form-control"> 
  <div class="container mt-3" style="width: 30em;"> 
    <!--Appointment id-->
    <input type="hidden" name="AppointmentId" />

    <!--Patient Name-->
    <div class="form-group">

        <label class="col-md-4">Patient Name</label>
        
        <select name="PatientId" id="PatientId" class="form-control" #PatientId="ngModel" required
            [(ngModel)]="appoiService.formData1.PatientId"
            [ngClass]="{'is-invalid':PatientId.touched && PatientId.invalid}"
            style="box-shadow: 10px 5px 5px rgb(152, 173, 212);">
            <option value="0" disabled>Choose Patient</option>
            <option *ngFor="let pat of appoiService.patient" value="{{pat.PatientId}}">{{pat.PatientName}}</option>
            
    
        </select>
        <div class="validation-error" *ngIf="PatientId.touched && PatientId.invalid">
    
            <div *ngIf="PatientId.errors.required">
                Patient is required</div>
        </div>
    </div>
   <!--Doctor Name-->
   <div class="form-group">

    <label class="col-md-4">Doctor Name</label>
    
    <select name="DoctorId" id="DoctorId" class="form-control" #DoctorId="ngModel" required
        [(ngModel)]="appoiService.formData1.DoctorId"
        [ngClass]="{'is-invalid':DoctorId.touched && DoctorId.invalid}"
        style="box-shadow: 10px 5px 5px rgb(152, 173, 212);">
        <option value="0" disabled>Choose Doctor</option>
        <option *ngFor="let doct of appoiService.doctors" value="{{doct.DoctorId}}">{{doct.DoctorName}}</option>
        

    </select>
    <div class="validation-error" *ngIf="DoctorId.touched && DoctorId.invalid">

        <div *ngIf="DoctorId.errors.required">
            Doctor is required</div>
    </div>
</div>
    <!--Date of Appointment-->
    <div class="form-group">

        <label>Date Of Appointment</label>
        <input type="date" name="DateofAppointment" id="DateofAppointment" #DateofAppointment="ngModel"
            [ngModel]="appoiService.formData1.DateofAppointment" class="form-control" required
            [ngClass]="{'is-invalid':DateofAppointment.touched && DateofAppointment.invalid}" style="box-shadow: 10px 5px 5px rgb(152, 173, 212);"/>
        <div class="validation-error" *ngIf="DateofAppointment.touched && DateofAppointment.invalid">

            <div *ngIf="DateofAppointment.errors.required">
                Date Of Appointment is required</div>
        </div>
    </div>
    <!--Is Active-->
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label"><b>Is active</b> </label>
            <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                [(ngModel)]="appoiService.formData1.IsActive" class="form-check-input">
        </div>
    </div>

    <!--submit button-->
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Add Appointment</button>
    </div>


</div>
</div>
</form>