<form name="staffform" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-control">
        <!--Staff ID-->
        <input type="number" name="StaffId" [(ngModel)]="adminService.staffData.StaffId">

        <!--Staff Name-->
        <div class="form-gorup">
            <label>Full Name of Staff</label>
            <input type="text" name="StaffName" #StaffName="ngModel" [(ngModel)]="adminService.staffData.StaffName"
                class="form-control" placeholder="Enter Full Name" minlength="06" maxlength="40" required
                [ngClass]="{ 'is-invalid' : StaffName.touched && StaffName.invalid }" />
            <div class="validation-error" *ngIf="StaffName.touched && StaffName.invalid">
                <div *ngIf="StaffName.errors.required">Full Name is Required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Role</label>
            <select name="RoleId" id="RoleId" #RoleId="ngModel" [(ngModel)]="adminService.staffData.RoleId"
                class="form-control" required [ngClass]="{ 'is-invalid' : RoleId.touched && RoleId.invalid }">
                <option value=0 disabled>Select Role for the staff</option>
                <option value=1>Admin</option>
                <option value=2>Front Desk</option>
                <option value=4>Lab Technician</option>



            </select>
            <div class="validation-error" *ngIf="RoleId.touched && RoleId.invalid">
                <div *ngIf="RoleId.errors.required"> Appropriate role should be asssigned.

                </div>
            </div>
        </div>

        <!--Age of staff-->
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="StaffAge" #StaffAge="ngModel" pattern="[0-9]+"
                [(ngModel)]="adminService.staffData.StaffAge" class="form-control"
                placeholder="Enter age of the assigned staff" maxlength="2" required
                [ngClass]="{ 'is-invalid' : StaffAge.touched && StaffAge.invalid }" />
            <div class="validation-error" *ngIf="StaffAge.touched && StaffAge.invalid">
                <div *ngIf="StaffAge.errors.required"> Staff Age is required

                </div>
                <div *ngIf="StaffAge.errors.pattern">
                    Wrong age format
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Gender</label>
            <select name="StaffGender" id="StaffGender" #StaffGender [(ngModel)]="adminService.staffData.StaffGender"
                class="form-control" required [ngClass]="{ 'is-invalid' : StaffGender.touched && StaffGender.invalid }">
                <option value=0 disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>



            </select>
            <div class="validation-error" *ngIf="StaffGender.touched && StaffGender.invalid">
                <div *ngIf="StaffGender.errors.required"> please select gender.

                </div>
            </div>
        </div>

        <!--Date of Birth-->
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" name="StaffDateofBirth" #StaffDateofBirth="ngModel"
                [(ngModel)]="adminService.staffData.StaffDateofBirth" class="form-control"
                placeholder="Enter Date Of Birth" required
                [ngClass]="{ 'is-invalid' : StaffDateofBirth.touched && StaffDateofBirth.invalid }">
            <div class="validation-error" *ngIf="StaffDateofBirth.touched && StaffDateofBirth.invalid">
                <div *ngIf="StaffDateofBirth.errors.required"> Date Of Birth is required

                </div>
            </div>
        </div>

        <!--Contact No of staff-->
        <div class="form-group">
            <label>Contact No.</label>
            <input type="text" name="staffContactNo" #StaffContactNo="ngModel"
                [(ngModel)]="adminService.staffData.StaffContactNo" class="form-control"
                placeholder="Enter contact number of your staff" required
                [ngClass]="{ 'is-invalid' : StaffContactNo.touched && StaffContactNo.invalid }" />
            <div class="validation-error" *ngIf="StaffContactNo.touched && StaffContactNo.invalid">
                <div *ngIf="StaffContactNo.errors.required"> Contact number is required

                </div>
            </div>
        </div>

        <!--Staff Name-->
        <div class="form-gorup">
            <label>Location</label>
            <input name="staffLocation" #StaffLocation="ngModel" [(ngModel)]="adminService.staffData.StaffLocation"
                class="form-control" placeholder="Enter Location" minlength="06" maxlength="40" required
                [ngClass]="{ 'is-invalid' : StaffLocation.touched && StaffLocation.invalid }" />
            <div class="validation-error" *ngIf="StaffLocation.touched && StaffLocation.invalid">
                <div *ngIf="StaffLocation.errors.required">Location is Required</div>
            </div>
        </div>



        <!--IsActive-->
        <br>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">IsActive</label>
                <input type="checkbox" name="IsActive" id="IsActive" [(ngModel)]="adminService.formData.IsActive"
                    class="form-check-input">

            </div>

        </div>
        <br>

        <!--Submit Button-->
        <br>
        <div class="form-group">
            <button type="submit" [disabled]="!(form.valid && form.dirty)"
                class="btn btn-lg btn-primary form-control">Submit</button>

        </div>


    </div>
</form>