<div class="container login">
    <div class="container card">
        <div class="login-content">
            <h3>Login Here</h3>
            <hr>

            <!-- Reactive Form -->
            <form action="">

                <div>
                    <input type="text" placeholder="Enter User Name" autocomplete="off" required />
                </div>
                <br>


                <div>
                    <input type="password" placeholder="Enter Password" formControlName="Password" autocomplete="off"
                        required />

                </div>

                <br>
                <button class="btn btn-md btn-primary">
                    <i class="fa fa-sign-in"></i>
                    Login
                </button>


            </form>
        </div>

    </div>
</div>