<div class="container login">
    <div class="container card">
        <div class="login-content">
            <h3>Login</h3>
            <hr>

            <!-- Login Form -->
            <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">

                <!--User Name-->
                <div>
                    <input type="text" placeholder="Enter User Name" autocomplete="off"
                    formControlName="UserName"  required class="form-control" />
                </div>
                <div *ngIf="isSubmitted && formControls.UserName.errors">
                    <div *ngIf="formControls.UserName.errors.required" style="color: red; text-align: left;">
                        User Name Is required!
                    </div>
                </div>

                <br>

                <!--Password-->
                <div>
                    <input type="password" placeholder="Enter Password" formControlName="Password" autocomplete="off"
                        required />

                </div>
                <div *ngIf="isSubmitted && formControls.Password.errors">
                    <div *ngIf="formControls.Password.errors.required" style="color: red; text-align: left;">
                        Password Is required!
                    </div>

                </div>

                <br>
                <button class="btn btn-md btn-primary" (click)="loginCredentials()" >
                    <i class="fa fa-sign-in"></i>
                    Login
                </button>
                <div *ngIf="error" style="text-align: left; color: red;">
                    {{error}}
                </div>

            </form>
        </div>

    </div>
</div>