<div class="container">
    <div class="container" style="margin-right: 5em;">
        <button style="width: 10em;" class="btn btn-primary form-control" [routerLink]="['/doctor']">
          <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i>Dashboard</button>
      </div>
    <div class="header">
        <h4>Today's Appointments</h4>

        <br>
    

    </div>
    <div class="container">
        <br>
        <table class=" table  table-responsive table-bordered ">
            <thead>
                <tr>
                    <!-- <td>ID</td> -->
                    <!-- <td>PatientId</td> -->
                    <td>Patient Name</td>
                    <td>Date of Appointment</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>IsActive</td>
                    <td>Action</td>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let app of appservice.appointment ">
                    <ng-template [ngIf]="compareDate(app.DateofAppointment) ">
                        <ng-template [ngIf]="app.IsActive">

                            <!-- <td>{{app.AppointmentId}}</td> -->
                            <!-- <td>{{app.PatientId}}</td> -->
                            <td>{{app.PatientName}}</td>
                            <td>{{app.DateofAppointment |date: 'dd-MM-yyyy'}}</td>
                            <td>{{app.Age}}</td>
                            <td>{{app.Gender}}</td>
                            <td>{{app.IsActive}}</td>

                            <td>
                                <ng-template [ngIf]="role == '2'">
                                    <button class="btn btn-sm btn-outline-danger"
                                        (click)="patientlog(app.PatientId)">View
                                        PastRecord</button>
                                    &nbsp;<button class="btn btn-info" style="margin-left: 10px;"
                                        (click)="addpatientlog(app.AppointmentId)">Add Log</button>
                                </ng-template>
                                <ng-template [ngIf]="role == '4'">
                                    &nbsp;<button class="btn btn-info" style="margin-left: 10px;"
                                        (click)="addPayment(app.AppointmentId)">Add Bill</button>
                                </ng-template>
                            </td>

                        </ng-template>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <!-- Pagination -->
        <pagination-controls (pageChange)="page=($event)">

        </pagination-controls>

    </div>
</div>