<header>
  <div class=" container logo">
    <img src="../assets/images/logo.png">
  </div>
  <div class="header-line">
    <hr>
  </div>
  
</header>

<div class="body">
  <router-outlet></router-outlet>
  &nbsp;


  
</div>

  <div style="background-image: url('../assets/images/footer.png');
background-repeat: no-repeat;
  
  background-size: 100% 100%;">
  
  <footer>
    
  <div class="footer">&nbsp;&nbsp;
    <h4 style="color: rgb(8, 8, 8); text-align: left;">All Rights Reserved @2021</h4>&nbsp;&nbsp;
  </div>
</footer>
</div>