<div class="container dashboard-link">
    <button style="width: 7em; float: right;" class="btn btn-primary form-control" [routerLink]="['/admin']">
        <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i> Dashboard</button>
</div>
<div class="container">
   
<form name="doctorform" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-control">
        <div class="container mt-3" style="width: 30em;">
            <!--Staff ID-->
            <input type="number" name="DoctorId" [(ngModel)]="adminService.formData.DoctorId" hidden>

            <!--User Id-->
            <div class="form-group">
                <label>User Id assigned</label>
                <input type="number" name="UserId" #UserId="ngModel" 
                    [(ngModel)]="adminService.formData.UserId" class="form-control"
                    placeholder="User Id of assigned staff is missing" maxlength="2" required readonly
                    [ngClass]="{ 'is-invalid' : UserId.touched && UserId.invalid }" />
                <div class="validation-error" *ngIf="UserId.touched && UserId.invalid">
                    <div *ngIf="UserId.errors.required">

                    </div>
                </div>
            </div>

            <!--Staff Name-->
            <div class="form-gorup">
                <label><b>Full Name of Doctor</b></label>
                <input type="text" name="DoctorName" #DoctorName="ngModel"
                    [(ngModel)]="adminService.formData.DoctorName" class="form-control" pattern="[a-zA-Z\s]+"
                    placeholder="Enter Full name of the doctor" minlength="04" maxlength="40" required
                    [ngClass]="{ 'is-invalid' : DoctorName.touched && DoctorName.invalid }" />
                <div class="validation-error" *ngIf="DoctorName.touched && DoctorName.invalid">
                    <div *ngIf="DoctorName.errors.required">Full Name is Required</div>
                    <div *ngIf="DoctorName.errors.pattern">
                        Wrong Format
                    </div>
                </div>
            </div>

            <!--Doctor Specialization-->
            <div class="form-group">
                <label class="col-md-4"><b>Specialization</b></label>
                <select name="DoctorSpecializationId" id="DoctorSpecializationId" class="form-control"
                    #DoctorSpecializationId="ngModel" [(ngModel)]="adminService.formData.DoctorSpecializationId"
                    [ngClass]="{ 'is-invalid' : DoctorSpecializationId.touched && DoctorSpecializationId.invalid }"
                    required>
                    <option value=0 disabled>Select Specialization for the doctor</option>
                    <option *ngFor="let special of adminService.special" value='{{special.SpecializationId}}'>
                        {{special.SpecializationName}}

                    </option>



                </select>
                <div class="validation-error" *ngIf="DoctorSpecializationId.touched && DoctorSpecializationId.invalid">
                    <div *ngIf="DoctorSpecializationId.errors.required"> Specify specialization

                    </div>
                </div>
            </div>

            <!--Qualification of doctor-->
            <div class="form-group">
                <label><b>Qualification</b></label>
                <input type="text" name="DoctorQualification" #DoctorQualification="ngModel"
                    [(ngModel)]="adminService.formData.DoctorQualification" class="form-control"
                    placeholder="Mention Qualification of the assigned doctor" required
                    [ngClass]="{ 'is-invalid' : DoctorQualification.touched && DoctorQualification.invalid }" />
                <div class="validation-error" *ngIf="DoctorQualification.touched && DoctorQualification.invalid">
                    <div *ngIf="DoctorQualification.errors.required"> Specify qualification

                    </div>
                </div>
            </div>


          

            <div class="form-group">
                <label><b>Age</b></label>
                <input type="text" name="DoctorAge" #DoctorAge="ngModel" pattern="[0-9]+"
                    [(ngModel)]="adminService.formData.DoctorAge" class="form-control"
                    placeholder="Enter age of the assigned doctor" maxlength="2" required
                    [ngClass]="{ 'is-invalid' : DoctorAge.touched && DoctorAge.invalid }" />
                <div class="validation-error" *ngIf="DoctorAge.touched && DoctorAge.invalid">
                    <div *ngIf="DoctorAge.errors.required"> Doctor Age is required

                    </div>
                    <div *ngIf="DoctorAge.errors.pattern">
                        Wrong age format
                    </div>
                </div>
            </div>

            <!--Gender-->
            <div class="form-group">
                <label class="col-md-4"><b>Gender</b></label>
                <select name="DoctorGender" id="DoctorGender" class="form-control" required #DoctorGender="ngModel"
                    [(ngModel)]="adminService.formData.DoctorGender"
                    [ngClass]="{ 'is-invalid' : DoctorGender.touched && DoctorGender.invalid }">
                    <option value="" disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>



                </select>
                <div class="validation-error" *ngIf="DoctorGender.touched && DoctorGender.invalid">
                    <div *ngIf="DoctorGender.errors.required"> please select gender.

                    </div>
                </div>
            </div>

            <!--Date of Birth-->
            <div class="form-group">
                <label><b>Date of Birth</b></label>
                <input type="date" name="DoctorDateofBirth" #DoctorDateofBirth="ngModel"
                    [(ngModel)]="adminService.formData.DoctorDateofBirth" class="form-control"
                    placeholder="Enter Date Of Birth" required max="1999-01-01" (keydown)="disableDate()"
                    [ngClass]="{ 'is-invalid' : DoctorDateofBirth.touched && DoctorDateofBirth.invalid }">
                <div class="validation-error" *ngIf="DoctorDateofBirth.touched && DoctorDateofBirth.invalid">
                    <div *ngIf="DoctorDateofBirth.errors.required"> Date Of Birth is required

                    </div>
                </div>
            </div>


            <!--Staff Name-->
            <div class="form-gorup">
                <label><b>Location</b></label>
                <input type="text" name="DoctorLocation" #DoctorLocation="ngModel" pattern="[a-zA-Z\s]+"
                    [(ngModel)]="adminService.formData.DoctorLocation" class="form-control" placeholder="Enter Location"
                    required [ngClass]="{ 'is-invalid' : DoctorLocation.touched && DoctorLocation.invalid }" />
                <div class="validation-error" *ngIf="DoctorLocation.touched && DoctorLocation.invalid">
                    <div *ngIf="DoctorLocation.errors.required">Location is Required</div>
                    <div *ngIf="DoctorLocation.errors.pattern">
                        Wrong Format
                    </div>
                </div>
            </div>

            <!--Contact No of doctor-->
            <div class="form-group">
                <label><b>Contact No.</b></label>
                <input type="text" name="DoctorContactNo" #DoctorContactNo="ngModel" pattern="[0-9]+" minlength="10"
                    maxlength="10" [(ngModel)]="adminService.formData.DoctorContactNo" class="form-control"
                    placeholder="Enter contact number of the assigned doctor" required
                    [ngClass]="{ 'is-invalid' : DoctorContactNo.touched && DoctorContactNo.invalid }">
                <div class="validation-error" *ngIf="DoctorContactNo.touched && DoctorContactNo.invalid">
                    <div *ngIf="DoctorContactNo.errors.required"> Contact number is required

                    </div>
                    <div *ngIf="DoctorContactNo.errors.pattern">
                        Wrong Contact Number format
                    </div>
                    <div *ngIf="DoctorContactNo.errors.minlength">
                        Contact Number is Incomplete
                    </div>
                </div>
            </div>

            <!--IsActive-->
            <br>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label"></label>
                    <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input" #IsActive="ngModel"
                        [(ngModel)]="adminService.formData.IsActive" checked hidden>

                </div>

            </div>
            <br>

            <!--Submit Button-->
            <br>
            <div class="form-group">
                <button type="submit" [disabled]="!(form.valid && form.dirty)"
                    class="btn btn-lg btn-primary form-control">Submit</button>

            </div>

        </div>
    </div>
</form>
</div>