<div class="container mt-3"> 
    <h5>Welcome! {{loggedUser}}</h5>
</div>
<button style="width: 110px; float: right;" class="btn btn-primary form-control" (click)="logOut()">
    <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i> Log Out</button>
<br>
<br>
<hr>

<button type="button" routerLink="/staff-list" class="btn btn-primary btn-lg btn-dash">Manage Staff</button>
<button type="button" routerLink="/add-staff" class="btn btn-primary btn-lg btn-dash">Add Staff</button>
<button type="button" routerLink="/doctor-list" class="btn btn-primary btn-lg btn-dash">Manage Doctor</button>
<button type="button" routerLink="/add-doctor" class="btn btn-primary btn-lg btn-dash">Add Doctor</button>
