<div class="container dashboard-doctor">
    <div class="top-section">
        <h3>Welcome Doctor!</h3>
        <button type="button" class="btn btn-primary logout">
            <i class="fa fa-sign-in"></i>LogOut
        </button>
    </div>
    <div class="body">
        <div class="row" style="margin-top:5em; margin-bottom:5em; text-align: center;">
            <div class="col">
        <button type="button" style="width: 40%; height: 5em; " class="btn btn-primary btn-lg" [routerLink]="['../appointmentlist']">Today's Appointments</button>
    </div>
    </div>
    <div class="row" style="margin-top:5em; margin-bottom:5em;text-align: center;">
    <div class="col">
        <button type="button" style="width: 42%; height: 5em; " class="btn btn-primary btn-lg" [routerLink]="['../employee']">Lab Results</button>
    </div>
    <div class="col">
        <button type="button" style="width: 42%; height: 5em;" class="btn btn-primary btn-lg" [routerLink]="['../employee']">Find Patient</button>
    </div>
    </div>
    </div>

</div>