<form name="patform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <div class="form-control">
        <div class="container mt-3" style="width: 30em;">
            <!--Patient id-->
            <input type="hidden"   name="PatientId" [ngModel]="patientService.formData.PatientId" />

            <!--Patient Name-->
            <div class="form-group">
                <label>Full Name</label>
                <input name="PatientName" class="form-control" #PatientName="ngModel"
                    [ngModel]="patientService.formData.PatientName" placeholder="Enter full name" minlength="1"
                    maxlength="25" required [ngClass]="{'is-invalid':PatientName.touched && PatientName.invalid}" />
                <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">

                    <div *ngIf="PatientName.errors.required">
                        Patient Name is required</div>
                </div>
            </div>
            <!--Age-->
            <div class="form-group">
                <label>Age</label>
                <input type= "number" name="Age" class="form-control" #Age="ngModel"
                    [ngModel]="patientService.formData.Age" placeholder="Enter Age" minlength="1"
                    maxlength="3" required [ngClass]="{'is-invalid':Age.touched && Age.invalid}" />
                <div class="validation-error" *ngIf="Age.touched && Age.invalid">

                    <div *ngIf="Age.errors.required">
                        Age is required</div>
                </div>
            </div>
            
            <!--Location-->
            <div class="form-group">
                <label>Location</label>
                <input name="Location" class="form-control" #Location="ngModel"
                    [ngModel]="patientService.formData.Location" placeholder="Enter Location" minlength="1"
                    maxlength="25" required [ngClass]="{'is-invalid':Location.touched && Location.invalid}" />
                <div class="validation-error" *ngIf="Location.touched && Location.invalid">

                    <div *ngIf="Location.errors.required">
                        Location is required</div>
                </div>
            </div>
             <!--Gender-->
             <div class="form-group">
                <label class="col-md-4">Gender</label>
                <select name="Gender" id="Gender" #Gender [(ngModel)]="patientService.formData.Gender"
                    class="form-control" required [ngClass]="{ 'is-invalid' : Gender.touched && Gender.invalid }">
                    
                    <option value="Male" selected >Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
    
    
    
                </select>
                <div class="validation-error" *ngIf="Gender.touched && Gender.invalid">
                    <div *ngIf="Gender.touched && Gender.invalid"> please select gender.
    
                    </div>
                </div>
            </div>

             <!--Contact-->
             <div class="form-group">
                <label>Contact</label>
                <input type= "number" name="ContactNo" class="form-control" #ContactNo="ngModel"
                    [ngModel]="patientService.formData.ContactNo" placeholder="Enter ContactNo" minlength="10"
                    maxlength="10" required [ngClass]="{'is-invalid':ContactNo.touched && ContactNo.invalid}" />
                <div class="validation-error" *ngIf="ContactNo.touched && ContactNo.invalid">

                    <div *ngIf="ContactNo.errors.required">
                        ContactNo is required</div>
                </div>
            </div>
            <!--EmergencyContact-->
            <div class="form-group">
                <label>Emergency Contact</label>
                <input type= "number" name="EmergencyContact" class="form-control" #EmergencyContact="ngModel"
                    [ngModel]="patientService.formData.EmergencyContact" placeholder="Enter Emergency Contact" minlength="10"
                    maxlength="10" required [ngClass]="{'is-invalid':EmergencyContact.touched && EmergencyContact.invalid}" />
                <div class="validation-error" *ngIf="EmergencyContact.touched && EmergencyContact.invalid">

                    <div *ngIf="EmergencyContact.errors.required">
                        Emergency Contact is required</div>
                </div>
            </div>
            <!--Is Active-->
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">Is active </label>
                    <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input">
                </div>
            </div>

            <!--submit button-->
            <br>
            <div class="form-group">
                <button type="submit" [disabled]="!(form.valid && form.dirty)"
                    class="btn btn-lg btn-primary form-control">Add Patient</button>
            </div>


        </div>
    </div>
</form>