#number {
    width: 10em;
  }
  .ng-invalid:not(form){
    border-left: 5px solid red;
  }
  .ng-valid[required],.ng-valid.required{
    border-left: 5px solid rgb(10, 207, 20);
  }
  button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}