<div class="container">
    <div class="header">
        <h3>Doctor List and Information</h3>
        <!--Search funciotnality-->
        <div class="form-group">
            <input class="form-control" type="text" 
            placeholder="Search" >
        </div>
    </div>
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Doctor Specialization Id</th>
                <th>Doctor Qualification</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Contact No</th>
                <th>Location</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of this.adminService.doctors">
                <td>{{data.doctorId}}</td>
                <td>{{data.doctorName}}</td>
                <td>{{data.doctorSpecializationId}}</td>
                <td>{{data.doctorQualification}}</td>
                <td>{{data.doctorAge}}</td>
                <td>{{data.doctorGender}}</td>
                <td>{{data.doctorDateofBirth}}</td>
                <td>{{data.contactNo}}</td>
                <td>{{data.doctorLocation}}</td>
                <td>{{data.isActive}}</td>
                <td style="width: 6em;">
                    <button class="btn btn-outline-danger" style="width: 100%;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--Pagination should be added here-->
    </div>
</div>


