<div class="container dashboard-link">
    <button style="width: 7em; float: right;" class="btn btn-primary form-control dash-button" [routerLink]="['/admin']">
        <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i> Dashboard</button>
</div>

<div class="container">
    <div class="header">
        <h3>Doctor List and Information</h3>
        <!--Search funciotnality-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search" [(ngModel)]="filter">
        </div>
    </div>
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Doctor Qualification</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Contact No</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let data of this.adminService.doctors | filter: filter | paginate: {itemsPerPage:10, currentPage: page}">
                <ng-template [ngIf]="data.IsActive==true">
                    <td>{{data.DoctorId}}</td>
                    <td>{{data.DoctorName}}</td>
                    <td>{{data.DoctorQualification}}</td>
                    <td>{{data.DoctorAge}}</td>
                    <td>{{data.DoctorGender}}</td>
                    <td>{{data.DoctorDateofBirth}}</td>
                    <td>{{data.DoctorContactNo}}</td>
                    <td>{{data.DoctorLocation}}</td>
                    <td style="width: 6em;">
                        <button (click)="updatedoctor(data.DoctorId)" class="btn btn-primary"
                            style="width: 100%; background-color: #2297a0; color:whitesmoke">Edit</button><br><br>
                        <button (click)="Deletedoctor(data.DoctorId)" class="btn btn-outline-danger"
                            style="width: 100%;">Delete</button>
                    </td>
                </ng-template>
            </tr>

        </tbody>
    </table>
    <div class="footer">
        <!--Pagination should be added here-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>