table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(152, 173, 212);


}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2297a0;
    color: white;
  }

.dash-button{
    width: 7em;
    text-align: center;
}

.dash-button{
    background-color: #2297a0;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.3em;
}