<div class="container">
    <div class="header">
        <h5 class="text-center"
            style="color: darkblue; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Patient List
        </h5>
        <!--Search Patient-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search here..."
                style="text-decoration: crimson; background-color: rgb(226, 233, 247);" [(ngModel)]="filter"><br>
        </div>
        <!--<a [routerLink]="['/addpatient']" class="btn btn-primary" style="float:right;margin-bottom: 10px;">Add Patient</a>-->
        <a [routerLink]="['/appointment']" class="btn btn-sm btn-primary" style="margin-left:10px ">Add Appointment</a><br><hr>
    </div>
    <table class="table table-bordered table-striped" style="box-shadow: 10px 5px 5px rgb(152, 173, 212);">
        <thead>
            <tr>
                <th>
                    PaymentId
                </th>
                <th>
                    PaymentDate
                </th>
                <th>
                    AppointmentId
                </th>
                <th>
                    Amount
                </th>
                
                <!-- <th>
                    Action
                </th> -->

            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let pay of this.paymentService.payment | filter: filter | paginate: {itemsPerPage: 5, currentPage:page} ">
                <td (click)="populateForm(pat)">{{pay.PaymentId}}</td>
                <td (click)="populateForm(pat)">{{pay.PaymentDate}}</td>
                <td (click)="populateForm(pat)">{{pay.AppointmentId}}</td>
                <td (click)="populateForm(pat)">{{pay.Amount}}</td>
                <!-- <td (click)="populateForm(pat)">{{pat.EmergencyContact}}</td> -->

                <ng-template [ngIf]="role==4 ">
                    <td>

                    <button (click)="onclick(pat.patientId)"  class="btn btn-sm btn-info" style="margin-left:10px">Edit</button>

                </td>
                    <td>
                        <!--- <button (click)="updatePatient(pat.patientId)" class="btn btn-sm btn-info" style="margin-left:10px">Edit</button>-->
                        <a [routerLink]="['/appointment']" class="btn btn-sm btn-primary"
                            style="margin-left:10px    ">Add Appointment</a>
                    </td>

                    <td>
                    <!--<button  (click)="updatePatient(pat.patientId)" (click)="populateForm(pat)" class="btn btn-sm btn-outline-danger" style="margin-left:10px">Edit</button>-->
                    <a [routerLink]="['/appointment']" class="btn btn-sm btn-info" style="margin-left:10px">Add
                        Appointment</a>
                    </td>
                </ng-template>
            </tr>
        </tbody>



    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>

    </div>
</div>
