<div class="container">
    <div class="patientdetails" *ngFor="let patientlog of this.patientlogservice.patientlog">
        <h3>Medical History</h3>
        <h4>{{patientlog.DateofAppointment| date:'dd-MM-yyyy'}}</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Medicine</th>
                <th>Dosage</th>
            </thead>
            <tbody>
                <tr *ngIf=patientlog.MedicineOne>
                    <td>{{patientlog.MedicineOne}}</td>
                    <td>{{patientlog.MedicineOneDosage}}</td>
                </tr>
                <tr *ngIf=patientlog.MedicineTwo>
                    <td>{{patientlog.MedicineTwo}}</td>
                    <td>{{patientlog.MedicineTwoDosage}}</td>
                </tr>
                <tr *ngIf=patientlog.MedicineThree>
                    <td>{{patientlog.MedicineThree}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>
                <tr *ngIf=patientlog.MedicineFour>
                    <td>{{patientlog.MedicineFour}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Tests Prescribed</th>
            </thead>
            <tbody>
                <tr *ngIf=patientlog.LabTestOne>
                    <td>{{patientlog.LabTestOne}}</td>
                </tr>
                <tr *ngIf=patientlog.LabTestTwo>
                    <td>{{patientlog.LabTestTwo}}</td>
                </tr>
                <tr *ngIf=patientlog.LabTestThree>
                    <td>{{patientlog.LabTestThree}}</td>
                </tr>

            </tbody>
        </table>
        <div class="table table-striped personaldetails">
            <h6>Previous notes and Observations</h6>
            <h6>Note: {{patientlog.Notes}}</h6>
            <h6>Observations: {{patientlog.Observations}}</h6>
        </div>


    </div>
    <div class="patientdetails" *ngFor="let lab of this.patientlogservice.labreport">
        <table class="table table-bordered table-hover">
            <h4>{{lab.DateOfAppointment | date:'dd-MM-yyyy'}}</h4>
            <thead>
                <th>Tests Prescribed</th>
                <th>Results</th>
            </thead>
            <tbody>
                <tr *ngIf=lab.TestOneName>
                    <td>{{lab.TestOneName}}</td>
                    <td>{{lab.ObservedResultOne}}</td>
                </tr>
                <tr *ngIf=lab.TestTwoName>
                    <td>{{lab.TestTwoName}}</td>
                    <td>{{lab.ObservedResultTwo}}</td>
                </tr>
                <tr *ngIf=lab.TestThreeName>
                    <td>{{lab.TestThreeName}}</td>
                    <td>{{lab.ObservedResultThree}}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>