<div class="container">
    <div class="patientdetails" *ngFor="let patientlog of this.patientlogservice.patientlog">
        <h3>Medical History</h3>

        <table class="table table-bordered table-hover">
            <thead>
                <th>Medicine</th>
                <th>Dosage</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{patientlog.MedicineOne}}</td>
                    <td>{{patientlog.MedicineOneDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineTwo}}</td>
                    <td>{{patientlog.MedicineTwoDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineThree}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineFour}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Tests Prescribed</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{patientlog.LabTestOne}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.LabTestTwo}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.LabTestThree}}</td>
                </tr>

            </tbody>
        </table>
        <div class="table table-striped personaldetails">
            <h6>Previous notes and Observations</h6>
            <h6>Note: {{patientlog.Notes}}</h6>
            <h6>Observations: {{patientlog.Observations}}</h6>
        </div> 


    </div>

</div>