<div class="container">
    <div class="patientdetails" *ngFor="let patientlog of patientlogservice.patientlog  ">

        <div class="table table-striped personaldetails">
            <table>
                <tr>
                    <th>Name</th>
                    <th>{{patientlog.PatientName}}</th>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{patientlog.Age}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{patientlog.Gender}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{patientlog.Location}}</td>
                </tr>
                <tr>
                    <td>Contact No:</td>
                    <td>{{patientlog.ContactNo}}</td>
                </tr>
                <tr>
                    <td>Emergency Contact</td>
                    <td>{{patientlog.EmergencyContact}}</td>
                </tr>

            </table>


        </div>

        <h3>Medical History</h3>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>Medicine</th>
                <th>Dosage</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{patientlog.MedicineOne}}</td>
                    <td>{{patientlog.MedicineOneDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineTwo}}</td>
                    <td>{{patientlog.MedicineTwoDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineThree}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.MedicineFour}}</td>
                    <td>{{patientlog.MedicineThreeDosage}}</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>Tests Prescribed</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{patientlog.LabTestOne}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.LabTestTwo}}</td>
                </tr>
                <tr>
                    <td>{{patientlog.LabTestThree}}</td>
                </tr>

            </tbody>
        </table>
        <div class="table table-striped personaldetails">
            <h6>Previous notes and Observations</h6>
            <h6>Note: {{patientlog.Notes}}</h6>
            <h6>Observations: {{patientlog.Observations}}</h6>
        </div>


    </div>

</div>