<form name="eventform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <div class="container mt-3" style="width: 30em;"> 
    <!--patient id-->
    <input type="hidden" name="EventId" [ngModel]="eventService.formData.EventId" />

    <h1 align="center"><b>Event</b></h1>

    <!--patient name-->
    <div class="form-group">

        <label><b>Event Name</b></label>
        <input name="EventName" #EventName="ngModel" [ngModel]="eventService.formData.EventName"
            class="form-control" placeholder="Enter EventName" pattern="[a-zA-Z\s]+" minlength="1" maxlength="25" required
            [ngClass]="{'is-invalid':EventName.touched && EventName.invalid}"  style="box-shadow: 10px 5px 5px rgb(152, 173, 212);"/>
        <div class="validation-error" *ngIf="EventName.touched && EventName.invalid">

            <div *ngIf="EventName.errors.required">
                EventName is required</div>
        </div>
    </div>
    <br>
     <!--Date of Event-->
    <div class="form-group">

        <label><b>Event Date</b></label>
        <input type="date" name="EventDate" id="EventDate" #EventDate="ngModel"
            [ngModel]="eventService.formData.EventDate" class="form-control" 
            [ngClass]="{'is-invalid':EventDate.touched && EventDate.invalid}" style="box-shadow: 10px 5px 5px rgb(152, 173, 212);"/>
        <div class="validation-error" *ngIf="EventDate.touched && EventDate.invalid">

            <div *ngIf="EventDate.errors.required">
                Event Date is required</div>
        </div>
    </div><br>
   <!--Event Description-->
   <div class="form-group">

    <label><b>Event Description</b></label>
    <textarea rows="4" cols="80" name="EventDecription" #EventDecription="ngModel" [ngModel]="eventService.formData.EventDecription"
        class="form-control" placeholder="Enter Event Description"  minlength="1" maxlength="1000" required
        [ngClass]="{'is-invalid':EventDecription.touched && EventDecription.invalid}"  style="box-shadow: 10px 5px 5px rgb(152, 173, 212);"></textarea>
    <div class="validation-error" *ngIf="EventDecription.touched && EventDecription.invalid">

        <div *ngIf="EventDecription.errors.required">
            Event Description is required</div>
    </div>
</div>
<br>
    <!--Is Active-->
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label"><b>Is active</b> </label>
            <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                [(ngModel)]="eventService.formData.IsActive" class="form-check-input">
        </div>
    </div>
    <br>
    <!--submit button-->
    <br>
    <div class="form-group" >
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control" style="box-shadow: 10px 5px 5px rgb(152, 173, 212);">Submit</button>
    </div>


</div>

</form>

