
<div class = "container dashboard-doctor">
    <div class="row top-section">
        <div class="col-lg-3">
        <h2>Welcome</h2><hr>
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-2">

        <button type="button" class="btn btn-primary logout" (click)=logOut()>

            <i class="fa fa-sign-out"></i>LogOut

        </button>

    </div>

    </div>

    <div class="body">

        <div class="row dashboard-row" >
            <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-md dashboard-button" [routerLink]="['../appointment']"><i class="fa fa-bookmark" style="font-size: 5em; margin-right: 5px;"></i><br>Add Appointment</button>
    </div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-md dashboard-button" [routerLink]="['../addpatient']"><i class="fa fa-users" style="font-size: 5em; margin-right: 5px;"></i><br>Add Patient</button>
    </div>
    <div class="col-lg-4">
        <button type="button"class="btn btn-primary btn-md dashboard-button" [routerLink]="['../patientlist']"><i class="fa fa-flask" style="font-size: 5em; margin-right: 5px;"></i><br>View Patients</button>
    </div>
    <div class="col-lg-4">
        <button type="button"class="btn btn-primary btn-md dashboard-button" [routerLink]="['../payment-list']"><i class="fa fa-dollar" style="font-size: 5em; margin-right: 5px;"></i><br>View Payment</button>
    </div>
   
    </div>
    </div>
    <div>
        &nbsp;
        &nbsp;
    </div>
</div>
