<div class="container">
<h2>Patient Log Form</h2>
</div>

<form>
    <form name="logform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
        <div class="form-control"> 
        <div class="container mt-3" style="width: 30em;"> 
          <div class="form-group">
            <input type="text" name="PatientId" #PatientId="ngModel" [(ngModel)]="appointmentservice.logForm.PatientId"
            class="form-control" placeholder="PatientId" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid': PatientId.touched && PatientId.invalid}" readonly/>

          </div>
       
          <div class="form-group">
            <input type="text" name="DoctorId" #DoctorId="ngModel" [(ngModel)]="appointmentservice.logForm.DoctorId"
            class="form-control" placeholder="DoctorId" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid': DoctorId.touched && DoctorId.invalid}" readonly/>
          </div>

          <div class="form-group">
            <input type="text" name="AppointmentId" #AppointmentId="ngModel" [(ngModel)]="appointmentservice.logForm.AppointmentId"
            class="form-control" placeholder="AppointmentId" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid': AppointmentId.touched && AppointmentId.invalid}" readonly/>
          </div>
          <div class="form-group">
            <input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="appointmentservice.logForm.Notes"
            class="form-control" placeholder="Notes" minlength="10" maxlength="50" required
            [ngClass]="{'is-invalid': Notes.touched && Notes.invalid}" />
          </div>
          <div class="form-group">
            <input type="text" name="Observations" #Observations="ngModel" [(ngModel)]="appointmentservice.logForm.Observations"
            class="form-control" placeholder="Observations" minlength="10" maxlength="50" required
            [ngClass]="{'is-invalid': Observations.touched && Observations.invalid}" />
          </div>
          <!--Is Active-->
          <div class="form-group">
              <div class="form-check"><br>
                  <label class="form-check-label">Is active </label>
                  <input type="checkbox" name="IsActive" id="IsActive" 
                     class="form-check-input">
              </div>
          </div>
      
          <!--submit button-->
          <br>
          <div class="form-group">
              <button type="submit" [disabled]="!(form.valid && form.dirty)" style="margin-bottom: 0.4em; width: 30%; height: 3em;"
                  class="btn btn-sm btn-info form-control"><i class="fa fa-pencil"></i>Add Prescription</button>
                  <hr>
          
          </div>
      
      
      </div>
      </div>
      </form>
</form>