table{
    border: 3px solid #5aadb8;
    border-collapse: collapse;
    
}

table thead{
    background-color: #5aadb8;
    border: 3px solid #5aadb8;
}

table tr{
    height: 3em;
}

button{
    background-color: #2297a0;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.3em;
}
